* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 p {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  position: sticky;
}
.navbar .logo img {
  height: 45px;
  width: 145px;
}
.navbar .logo {
  padding-top: 15px;
  height: 100%;
  padding-left: 65px;
}
.navbar-white {
  background-color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-white a {
  color: #333; /* Adjust navbar links color for white background */
}

.navbar-white .active::after {
  background-color: #333; /* Adjust the active link underline color */
}

.image-section img {
  width: 400px;
  height: 550px;
}
.image-section {
  padding-right: 120px;
  margin-top: 150px;
  height: 100vh;
  margin-right: 80px;
  width: 30%;
}
.text-section {
  width: 40%;
}
.text-section h2 {
  font-weight: bold;
  font-size: 40px;
}
.text-section p {
  font-size: 18px;
  line-height: 25px;
}
.text-section h4 {
  font-size: 18px;
}

.main-navbar {
  padding-top: 23px;
  padding-right: 120px;
  text-align: left;
}
.main-navbar ul {
  list-style: none;
  display: flex;
}
.main-navbar li {
  margin-left: 4.5rem;
}
.main-navbar a {
  text-decoration: none;
  color: #78c901;
  transition: color 0.3s;
  font-weight: 400;
}
/* .main-navbar a:hover {
  color: #fcda69;
} */
.main-navbar a.active {
  font-weight: 800;
  position: relative;
}
.main-navbar .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #78c901;
  position: absolute;
  left: 0;
  bottom: -28px;
}
.download-button {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}
.download-button button {
  background-color: #78c901;
  outline: none;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
.download-button button:hover {
  cursor: pointer;
}
/* .main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
} */
#first-div {
  padding: 0px 50px 100px 70px;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}
#second-div {
  flex-direction: column;
  display: flex;
  padding: 50px;
  width: 100%;
  background-color: #f9fff0;
  height: 100vh;
}
#third-div {
  width: 100%;
  height: 100vh;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: white;
}
.title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.title-l {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#title-container {
  margin-left: 20px;
  width: 45%;
}
#title-l-container {
  margin-left: 20px;
  width: 70%;
  text-align: center;
}
.feature-container {
  width: 40%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 70px;
}
.feature-container img {
  height: 40px;
  width: 30px;
}
.feature-item {
  display: flex;
  flex-direction: column;
}
.feature-item h4 {
  font-size: 25px;
}
.feature-item p {
  line-height: 25px;
  margin-left: 45px;
}
.feature-title {
  display: flex;
  gap: 15px;
}
.wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
}
.feature-image {
  margin-left: 200px;
  width: 50%;
}
.feature-image img {
  width: 600px;
  height: 400px;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(33, 33, 33);
  color: white;
  border: none;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-section a {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.fa-github,
.fa-envelope {
  width: 50px;
  height: 30px;
}
.extra-image img {
  width: 450px;
  height: 330px;
}
footer {
  text-align: center;
  padding: 25px;
  background-color: #f9fff0;
}
footer p {
  font-weight: 500;
}

/* Responsive Design */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  color: #78c901;
}
/* Show hamburger icon for small screens */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .main-navbar .active::after {
    display: none;
  }
  .main-navbar {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 50%;
    background-color: white;
    padding: 10px 20px;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .main-navbar ul {
    flex-direction: column;
    gap: 15px;
    padding-right: 20px;
  }

  .main-navbar li {
    margin-left: 0;
  }

  .main-navbar.active {
    display: flex; /* Show the menu when active */
  }
  .navbar {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 20px 10px 20px;
  }
  .navbar .logo {
    padding-left: 0;
    padding: 10px 0px;
    text-align: center;
  }
  .navbar .logo img {
    height: 35px;
    width: 115px;
  }
  .main-navbar {
    padding-right: 0;
    padding-top: 10px;
  }
  .main-navbar ul {
    flex-direction: column;
    gap: 15px;
  }
  .main-navbar li {
    margin-left: 0;
  }
  #first-div {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
  }
  .text-section {
    order: 1;
    width: 90%;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .text-section h2 {
    font-size: 15px;
  }
  .text-section p {
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
  }
  .text-section h4 {
    font-size: 12px;
    text-align: center;
  }
  .image-section {
    order: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .download-button {
    align-items: center;
    justify-content: center;
  }
  .image-section img {
    width: 70%;
    height: 300px;
  }
  #title-container {
    width: 80%;
    margin: auto;
    /* margin: 0px 10px; */
  }
  .title {
    text-align: center;
    font-size: 20px;
  }
  .contact-item i {
    font-size: 25px;
  }
  .fa-github,
  .fa-envelope {
    width: 30px;
    height: 15px;
  }
  .contact-item {
    gap: 10px;
  }
  #second-div,
  #third-div {
    padding: 20px;
    height: auto;
  }
  .feature-container {
    order: 1;
    width: 100%;
    margin: 0 20px;
    padding: 0 10px;
    gap: 0;
  }
  .feature-image img {
    order: 0;
    width: 100%;
    height: 160px;
    margin-top: -10px;
  }
  .feature-image {
    height: 150px;
    width: 90%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .feature-title {
    display: flex;
    gap: 15px;
  }
  .feature-container img {
    height: 20px;
    width: 14px;
  }
  .feature-item h4 {
    font-size: 16px;
  }
  .feature-item p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 23px;
    margin-left: 30px;
    margin-right: 0px;
  }
  .feature-item {
    margin: 0px;
    padding: 0;
  }
  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
  }
  #title-l-container {
    width: 80%;
    margin: 0;
  }
  .title-l {
    font-size: 20px;
  }
  .contact-item a {
    font-size: 15px;
  }
  .scroll-to-top {
    width: 50px;
    height: 40px;
  }
  .extra-image img {
    width: 240px;
    height: 150px;
  }
  footer {
    padding: 15px;
  }
  footer p {
    font-size: 10px;
  }
}
